<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="p-4">
  <!-- HEADER -->
  <div class="flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="m-0">Dashboard</h2>
      <small class="text-500">Resumo financeiro por mês</small>
    </div>

    <div class="flex gap-2 align-items-end mb-4">
      <div>
        <label class="block text-sm mb-1" for="data-inicial"
          >Data inicial</label
        >
        <p-datepicker
          [(ngModel)]="dataInicial"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
        ></p-datepicker>
      </div>

      <div>
        <label class="block text-sm mb-1" for="data">Data final</label>
        <p-datepicker
          [(ngModel)]="dataFinal"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
        ></p-datepicker>
      </div>

      <button
        pButton
        label="Filtrar"
        icon="pi pi-filter"
        (click)="aplicarFiltro()"
      ></button>
    </div>
  </div>

  <!-- CARD PRINCIPAL -->
  <p-card styleClass="shadow-2 border-round-xl">
    <div class="grid">
      <!-- GRÁFICO -->
      <div
        class="col-12 md:col-5 flex justify-content-center align-items-center"
      >
        <p-chart
          type="doughnut"
          [data]="graficoCategorias"
          [options]="chartOptions"
          style="width: 260px"
        ></p-chart>
      </div>

      <!-- LISTA -->
      <div class="col-12 md:col-7">
        <div class="flex justify-content-between mb-3">
          <h4 class="m-0">Gastos por categoria</h4>
          <small class="text-500"
            >Total: {{ totalDespesas | currency: "BRL" }}</small
          >
        </div>

        <div class="flex flex-column gap-3">
          @for (cat of resumoCategorias; track cat.nome) {
            <div
              class="flex justify-content-between align-items-center p-2 border-round-lg hover:surface-100"
            >
              <!-- ESQUERDA -->
              <div class="flex align-items-center gap-2">
                <span
                  class="border-circle"
                  style="width: 10px; height: 10px"
                  [style.background]="cat.cor"
                ></span>

                <span class="font-medium">
                  {{ cat.nome }}
                </span>
              </div>

              <!-- DIREITA -->
              <div class="flex align-items-center gap-3">
                <small class="text-500"> {{ cat.percentual }}% </small>

                <span class="font-semibold">
                  {{ cat.valor | currency: "BRL" }}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </p-card>
</div>
