<div class="layout">

  <!-- SIDEBAR DESKTOP -->
  <aside class="sidebar-desktop">
    <div class="logo">
      <img class="brand-logo" src="assets/fincloud.png" alt="FinCloud" />
    </div>

    <p-panelMenu [model]="items"></p-panelMenu>

    <div class="logout">
      <button pButton type="button" (click)="logout()" class="p-button-text">
        <i class="pi pi-sign-out"></i> Sair
      </button>
    </div>
  </aside>

  <!-- SIDEBAR MOBILE -->
  <p-sidebar [(visible)]="menuOpen" position="left">
    <div class="mobile-sidebar-content">
      <p-panelMenu [model]="items"></p-panelMenu>

      <button 
        pButton 
        type="button" 
        (click)="logout()" 
        class="p-button-text w-full">
        <i class="pi pi-sign-out"></i> Sair
      </button>
    </div>
  </p-sidebar>

  <!-- CONTEÚDO -->
  <div class="content">

    <!-- TOPBAR -->
    <div class="topbar">

      <!-- BOTÃO MOBILE -->
      <button 
        pButton 
        icon="pi pi-bars" 
        (click)="menuOpen = true"
        aria-label="Abrir menu"
        class="menu-mobile-btn">
      </button>

      <h2>FinCloud</h2>
    </div>

    <!-- PÁGINA -->
    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>