<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- HEADER -->
<div class="flex justify-content-between align-items-center mb-4">
  <div>
    <h2 class="m-0">Contas</h2>
    <small class="text-500">Gerencie suas contas financeiras</small>
  </div>

  <button
    pButton
    icon="pi pi-plus"
    label="Nova Conta"
    (click)="abrirModal()"
  ></button>
</div>

<!-- MENU GLOBAL -->
<p-menu
  #menu
  [popup]="true"
  [model]="menuItemsSelecionado"
  appendTo="body"
></p-menu>

<!-- GRID -->
<div class="grid">
  @for (c of contasFiltradas(); track c.id) {
    <div class="col-12 md:col-6 lg:col-4">
      <p-card styleClass="conta-card">
        <!-- HEADER -->
        <div class="flex justify-content-between align-items-center">
          <!-- INFO -->
          <div class="flex align-items-center gap-3">
            <div class="icon-box" [style.background]="c.cor + '22'">
              <i class="pi pi-wallet" [style.color]="c.cor"></i>
            </div>

            <div>
              <div class="font-semibold text-lg">
                {{ c.nome }}
              </div>

              <p-chip [label]="c.tipo" styleClass="text-xs mt-1"></p-chip>
            </div>
          </div>

          <!-- BOTÃO MENU -->
          <button
            pButton
            icon="pi pi-ellipsis-v"
            class="p-button-text p-button-rounded menu-btn"
            (click)="abrirMenu($event, c, menu)"
          ></button>
        </div>

        <!-- DIVIDER -->
        <div class="divider"></div>

        <!-- SALDO -->
        <div class="saldo-container">
          <span class="label">Saldo atual</span>

          <div
            class="valor"
            [ngClass]="{
              positivo: c.saldo >= 0,
              negativo: c.saldo < 0,
            }"
          >
            {{ c.saldo | currency: "BRL" }}
          </div>
        </div>
      </p-card>
    </div>
  }
</div>
